Makefile.in
/aclocal.m4
/autom4te.cache
/conf/depcomp
/config.h.in
/config.h.in~
/configure

/build/download
/build/conf/node_modules
/build
*.pyc

conf/m4/ltsugar.m4
conf/m4/libtool.m4
conf/m4/ltoptions.m4
conf/m4/ltversion.m4
conf/m4/lt~obsolete.m4



*-checkpoint.ipynb

*.orig
conf/ltmain.sh

